<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <h6 class="alert-heading"><%= pluralize(resource.errors.count, "error") %> prohibited this record from being saved:</h6>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
